{% extends "base.html" %}
{% load static %}
{% block "head" %}
<!--<link rel="stylesheet" href="{% static 'users/css/users.css' %}">-->
<link rel="stylesheet" href="{% static 'doctors/css/doctor_register.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
{% block "body" %}
<div class="container" id="container">
  <div class="form-container register-container">
      <form action="{% url 'doctor_register' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
          {% if messages %}
              <div id="messages" style="display: none;">
                  {% for message in messages %}
                      <div class="alert {{ message.tags }}">{{ message }}</div>
                  {% endfor %}
              </div>
          {% endif %}
          <h1>Cadastre-se </h1> {# o conteudo aqui é um print do django, se você comentar de outro jeito o servidor cai #}
          {# <p>{{detail}}</p> #}	
          <input type="text" name="crm" placeholder="CRM" required>
          <input type="text" name="name" placeholder="Nome Completo" required>
          <input type="text" name="cep" placeholder="CEP" required>
          <input type="text" name="street" placeholder="Rua" required>
          <input type="text" name="neiborhood" placeholder="Bairro" required>
          <input type="text" name="house_number" placeholder="Número da Casa" required>
          <label for="rg_image">RG</label>
          <input type="file" name="rg_image" required>
          <label for="medical_identity">Identidade Médica</label>
          <input type="file" name="medical_identity" required>
          <label for="profile_image">Foto de Perfil</label>
          <input type="file" name="profile_image" required>

          
          <select name="category" required>

              {% for category in categories %}
                  <option value="{{ category.id }}">{{ category.name }}</option>
              {% endfor %}

          </select>
          <textarea name="description" placeholder="Descrição" required></textarea>
          <input type="number" step="0.01" name="consultation_price" placeholder="Preço da Consulta" required>
          <button type="submit">Cadastrar</button>
      </form>
  </div>
</div>
{% endblock %}